.board {
	width: 90%;
	height: 90%;
	border: 2px solid snow;
	border-radius: 12px;
	background-color: darkgray;
	padding: 1rem;
	min-width: 1200px;
	min-height: 480px;
}

.leftFlex {
	width: 50%;
	display: flex;
	justify-content: left;
}

.rightFlex {
	width: 50%;
	display: flex;
	justify-content: right;	
}
