.board {
	position: absolute;
	width: 1500px;
	height: 100%;
	border: 2px solid snow;
	border-radius: 12px;
	background-color: darkgray;
	top: 0px;
	bottom: 0px;
	margin: 3px;
}

.leftFlex {
	width: 50%;
	display: flex;
	justify-content: left;
}

.rightFlex {
	width: 50%;
	display: flex;
	justify-content: right;	
}
