.card{
	background-color: tan;
	color: black;
	font: serif;
	font-size: 12pt;
	border: 2px solid black;	
	border-radius: 10px;
	width: 80%;
	height: 115%;
	margin: 3px;
	text-align: center;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.card:hover {
	border-radius: 10px;
	box-shadow: 0 20px 30px gray;
	transform: scale(1.1, 1.1);
}



