.card {
	position: relative;
	background-color: tan;
	color: black;
	border: 2px solid black;	
	border-radius: 10px;
	width: 215px;
	height: 215px;
	text-align: center;
	cursor: pointer;
	transition: all .2s ease-in-out;
	justify-content: center;
	margin: 8px;
}

.card:hover {
	z-index: 10;
	border-radius: 10px;
	box-shadow: 0 20px 30px black;
	transform: scale(1.1, 1.1);
}

.cardHeader {
	position: relative;
	top: -32px;
	background-color: black;
	color: whitesmoke;
	font: serif;
	font-size: 14pt;
	border: 2px solid whitesmoke;	
	border-top-color: black;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 200px;
	height: 45px;
	margin: auto;
	text-align: center;
}

.spacer {
	height: 10px;
}

.cardBody {
	position: relative;
	background-color: whitesmoke;
	color: black;
	font-family: 'Times New Roman', Times, serif;
	font-size: 12pt;
	border: 1px solid gray;
	border-bottom: 2px solid black;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	margin: auto;
	width: 200px;
	height: 200px;
	top: -13px;
	text-align: center;
}

.skipDiv {
	width: 284px;
	height: 298px;
	transition: all .2s ease-in-out;
}

.skipDivActive {
	position: relative;
 	display: table;
	background-color: orange;
	color: black;
	border: 2px solid black;	
	border-radius: 10px;
	width: 280px;
	height: 294px;
	text-align: center;
	cursor: pointer;
	transition: all .2s ease-in-out;
	justify-content: center;
}

.cardChoiceBox {
	display:flex;
	justify-content: center;
	margin: 3px;
}
