.scoreBoard {
	width: 100px;
	height: 80px;
	border-radius: 8px;
	background-color: white;	
	color: black;
}

.userPlaque {
	width: 30%;
	height: 30%;
	display: flex;
	justify-content: center;
	background-color: black;
	border: 1px solid whitesmoke;
	border-radius: 20px;
}
