.popup {
	position: fixed;
	width: 90%;
	height: 90%;
	background-color: gray;
	z-index: 100;
	box-shadow: 0px 2px 9px black;
	min-width: 1230px;
	min-height: 696px;
	align-content: center;
	border-radius: 8px;
}

.popupInner {
	width: 70vw;
	height:80vh;
	background-color: lightgray;
	min-width: 1225px;
	min-height: 560px;
	align-content: center;
	margin: auto;
	border: 2px solid black;
	border-radius: 8px;
	box-shadow: 0px 2px 4px darkgray;
	color: black;
}
